@font-face {
  font-family: "Bebas";
  src: url("../Fonts/Bebas/BebasNeueBold.eot") format("eot"),
  url("../Fonts/Bebas/BebasNeueBold.woff") format("woff"),
  url("../Fonts/Bebas/BebasNeueBold.ttf") format("truetype");
}
@font-face {
  font-family: "CenturyGothic";
  src: url("../Fonts/CenturyGothic/CenturyGothic.eot") format("eot"),
  url("../Fonts/CenturyGothic/CenturyGothic.woff") format("woff"),
  url("../Fonts/CenturyGothic/CenturyGothic.ttf") format("truetype");
}
@font-face {
  font-family: "CenturyGothic-Bold";
  src: url("../Fonts/CenturyGothic/CenturyGothic-Bold.eot") format("eot"),
  url("../Fonts/CenturyGothic/CenturyGothic-Bold.woff") format("woff"),
  url("../Fonts/CenturyGothic/CenturyGothic-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Code-PPro";
  src: url("../Fonts/CodePro/Code-Pro.eot") format("eot"),
  url("../Fonts/CodePro/Code-Pro.woff") format("woff"),
  url("../Fonts/CodePro/Code-Pro.ttf") format("truetype");
}
@font-face {
  font-family: "Intro-Bold-Alt";
  src: url("../Fonts/IntroBlackAlt/Intro-Bold-Alt.eot") format("eot"),
  url("../Fonts/IntroBlackAlt/Intro-Bold-Alt.woff") format("woff"),
  url("../Fonts/IntroBlackAlt/Intro-Bold-Alt.ttf") format("truetype");
}
