section.advertising
	.advertising_row_five
		h2.printing_row_five__header_text
			| РЕКЛАМА
	.advertising_row_six
		.outdoor_advertising
			p.outdoor_advertising__header_text
			img.outdoor_advertising__outdoor_advertising_img
		.promo
			p.promo__header_text
			img.promo__promo_img
		.video_advertising
			p.video_advertising__header_text
			img.video_advertising_video_advertising_img
	.advertising_row_seven
		.events
			p.events__header_text
			img.events__events_img
