section.branding
	.branding_row_eight
		h2.printing_row_eight__header_text
			| БРЕНДИНГ
	.branding_row_nine
		.logo_dev
			p.logo_dev__header_text
			img.logo_dev__logo_dev_img
		.style
			p.style__header_text
			img.style__style_img
		.presentation
			p.presentation__header_text
			img.presentation__presentation_img
	.branding_row_ten
		.packaging
			p.packaging__header_text
			img.packaging__packaging_img
		.clothing
			p.clothing__header_text
			img.clothing__clothing_img
		.paraphernalia
			p.paraphernalia__header_text
			img.paraphernalia_paraphernalia_img
	.branding_row_eleven
		.prizes
			p.prizes__header_text
			img.prizes__prizes_img
		.branding_cars
			p.branding_cars__header_text
			img.branding_cars__internet_servants_img