section.branding
	.branding_row_eight
		h2.printing_row_eight__header_text
			| БРЕНДИНГ
	.branding_row_nine
		.branding_row_nine_border
		.logo_dev
			p.logo_dev__header_text Разработка логотипа
			img(src='../img/Icons/Services/Logo.png').logo_dev__logo_dev_img
		.style
			p.style__header_text Создание фирменного стиля
			img(src='../img/Icons/Services/Brand.png').style__style_img
		.presentation
			p.presentation__header_text Презентации
			img(src='../img/Icons/Services/Presentation.png').presentation__presentation_img
	.branding_row_ten
		.packaging
			p.packaging__header_text Фирменная упаковка
			img(src='../img/Icons/Services/Packing.png').packaging__packaging_img
		.clothing
			p.clothing__header_text Одежда, форма
			img(src='../img/Icons/Services/Cloth.png').clothing__clothing_img
		.paraphernalia
			p.paraphernalia__header_text Атрибутика
			img(src='../img/Icons/Services/Flags-and-odds.png').paraphernalia__paraphernalia_img
	.branding_row_eleven
		.prizes
			p.prizes__header_text Призы, сувениры
			img(src='../img/Icons/Services/Prizes.png').prizes__prizes_img
		.branding_cars
			p.branding_cars__header_text Брендирование авто
			img(src='../img/Icons/Services/Auto-Branding.png').branding_cars__internet_servants_img