section.gallery
	.gallery_blocks
		h2.gallery_blocks__header_text
			| ГАЛЕРЕЯ НАШИХ РАБОТ
		.gallery_block_lion
			img.gallery_block__lion_img
		.gallery_block_journal
			img.gallery_block__journal_img
		.gallery_block_box
			img.gallery_block__box_img
			img.gallery_block__box_img2
		.gallery_block_shirt
			img.gallery_block__shirt_img
			img.gallery_block__pack_img
		h2.gallery_blocks__footer_text
			| НАШИ УСЛУГИ

