extends ../main-layout

block title
	| 2LIONS

block content


	include ../parts/nav_block
	include ../parts/header_block
	include ../parts/two_lions_block
	include ../parts/gallery_block
	include ../parts/printing_block
	include ../parts/advertising_block
	include ../parts/branding_block
	include ../parts/inet_services
	//include ../pug/pages/map_block
