extends ../main-layout

block title
	| 2LIONS

block content

	include ../parts/windowCall
	include ../parts/nav_block
	include ../parts/header_block
	include ../parts/WRAPPER
	include ../parts/footer

