section.inet_services
	.inet_services_row_twelve
		h2.printing_row_twelve__header_text
			| ИНТЕРНЕТ УСЛУГИ
	.inet_services_row_thirteen
		.site_app_dev
			p.site_app_dev__header_text
			img.site_app_dev__img
		.make_content
			p.content__header_text
			img.content_content_img
		.call_centr
			p.call_centr__header_text
			img.call_centr