menu.nav-block
	ul.nav-block-items
		li.nav-block-item
			a(href='#').nav-block-item__elem.elem--active ГЛАВНАЯ
		li.nav-block-item
			a(href='#').nav-block-item__elem.elem--active О НАС
		li.nav-block-item
			a(href='#').nav-block-item__elem.elem--active УСЛУГИ
		li.nav-block-item
			a(href='#').nav-block-item__elem.elem--active РАБОТЫ

	.nav-block-contact
		.nav-block-contact__phone +38 050 971 99 53
		button.nav-block-contact__btn.nav-block-contact__btn--active СВЯЗАТЬСЯ С НАМИ
