section.nav_block
	.nav_block_menu
		ul.nav_block_items
			li.nav_block_item
				a(href='#').nav_block_item__link.link--active ГЛАВНАЯ
			li.nav_block_item
				a(href='#').nav_block_item__link.link--active РАБОТЫ
			li.nav_block_item
				a(href='#').nav_block_item__link.link--active УСЛУГИ
			li.nav_block_item
				a(href='#').nav_block_item__link.link--active О НАС


		.nav_block_contacts
			.nav_block_contacts__phone +38 050 971 99 53
			button.nav_block_contacts__btn.nav_block_contact__btn--active СВЯЗАТЬСЯ С НАМИ