menu.nav-block
	ul.nav-block-items
		li.nav-block-item
			a(href='#').nav-block-item__link.link-active ГЛАВНАЯ
		li.nav-block-item
			a(href='#').nav-block-item__link.link-active О НАС
		li.nav-block-item
			a(href='#').nav-block-item__link.link-active УСЛУГИ
		li.nav-block-item
			a(href='#').nav-block-item__link.link-active РАБОТЫ

	.nav-block-contacts
		.nav-block-contacts__phone +38 050 971 99 53
		button.nav-block-contacts__btn.nav-block-contact__btn--active СВЯЗАТЬСЯ С НАМИ