section.printing
	.printing_row_one
		h2.printing_row_one__header_text
			| ПОЛИГРАФИЯ
	.printing_row_two
		.business_card
			P.business_card__header_text
			img.business_card__business_card_img
		.fluer_card
			p.fluer_card__header_text
			img.fluer_card__fluer_img
		.calender_card
			p.calender_card__header_text
			img.calender_card__calender_card_img
	.printing_row_three
		.magazine_card
			p.magazine_card__header_text
			img.magazine_card__magazine_card_img
		.billboard_card
			p.billboard_card__header_text
			img.billboard_card__billboard_card_img
		.folder_card
			p.folder_card__header_text
			img.folder_card__folder_card_img
	.printing_row_four
		.stickers
			p.stickers__header_text
			img.stickers__stickers_img
		.menus
			p.menus_header_text
			img.menus__menus_img


