section.printing
	.printing_row_one
		h2.printing_row_one__header_text
			| ПОЛИГРАФИЯ
	.printing_row_two
		.printing_row_two_border
		.business_card
			P.business_card__header_text Визитки
			img(src='../img/Icons/Services/Cards.png').business_card__business_card_img
		.fluer_card
			p.fluer_card__header_text Флаеры
			img(src='../img/Icons/Services/Flayer.png').fluer_card__fluer_img
		.calender_card
			p.calender_card__header_text Календари
			img(src='../img/Icons/Services/Calendar.png').calender_card__calender_card_img
	.printing_row_three
		.magazine_card
			p.magazine_card__header_text Газеты
			img(src='../img/Icons/Services/Newspapers.png').magazine_card__magazine_card_img
		.billboard_card
			p.billboard_card__header_text Афиши, плакаты
			img(src='../img/Icons/Services/Posters.png').billboard_card__billboard_card_img
		.folder_card
			p.folder_card__header_text Конверты, папки, ручки
			img(src='../img/Icons/Services/Stationary.png').folder_card__folder_card_img
	.printing_row_four
		.stickers
			p.stickers__header_text Наклейки
			img(src='../img/Icons/Services/Stickers.png').stickers__stickers_img
		.menus
			p.menus__header_text Меню, ценники
			img(src='../img/Icons/Services/Menu.png').menus__menus_img


