.header {
  display: flex;
  width: 100%;
}

.header_block {
  background: black url(../img/Assets/HeaderBackground.jpg) no-repeat center bottom;
  background-size: cover;
  position: relative;
  width: 100%;
  //height: 600px;
  overflow: hidden;
  height: 90vh;
  &__logo {
    background: url("../img/Icons/lion_log2.svg") no-repeat center center;
    //background-size: cover;
    opacity: 0.8;
    mix-blend-mode: overlay;
    position: absolute;
    top: 20%;
    right: 15%;
    width: 256px;
    height: 340px;
  }
  &__offer_text {
    color: #ffffff;
    font-size: 4rem;
    font-weight: bold;
    font-family: Intro-Bold-Alt,sans-serif;
    position: absolute;
    top: 22%;
    left: 15%;
    line-height: 4rem;
  }
  &__under_text {
    position: absolute;
    bottom: 37%;
    width: 600px;
    height: 3px;
    left: 15.3%;
    background-color: white;
  }
  &__text {
    font-size: 3rem;
    position: absolute;
    bottom: 23%;
    left: 15%;
    color: #c5b865;
    font-family: Code-PPro,sans-serif;
  }
}



