@import "../layout/smart-grid";
.nav-block {
  width: 100%;
  height: auto;
}

.nav_block_menu {
  display: flex;
  height: 90px;
  justify-content: start;
  align-items: center;
}

.nav_block_items {
  height: 100%;
  width: 50%;
  display: flex;
  list-style: none;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-family: CenturyGothic,sans-serif;
}

.nav_block_item {
  padding: 10px;

  &__link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: block;
    color: black;
  }
}

.link--active:hover {
  color: #c03b18;
}

//Правая часть навигации Родитель
.nav_block_contacts {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  //Правая часть навигации Номер телефона
  &__phone {
    padding: 5px 20px ;
    align-self: center;
    color: black;
    font-size: 1.3rem;
    display: block;
    font-family: CenturyGothic,sans-serif;

  }
  //Правая часть навигации кнлпка
  &__btn {
    background-color: #e23e18;
    border: 0;
    padding: 20px 40px;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: background-color 100ms ease-in-out;
    font-family: CenturyGothic-Bold, sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    &:hover {
      background-color: #c03b18
    }
  }
}

