.window_call_wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 99999;
  display: none;
}

.windows_call_main {
  width: 50%;
  height: 300px;
  position: fixed;
  top: 25%;
  left: 25%;
  //transform: translate(-50%, -50%);
  box-sizing: border-box;
  //border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #e5a731;

  @include ipad_pro {

  }
  @include phones {
    width: 80%;
    top: 25%;
    left:10%;
  }
}

.windows_call_main_cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  color: white;
  border: none;
  background: transparent url('../img/Icons/cancel.png') no-repeat center center;
  transition: all 100ms ease-in-out;
  &:hover{
    transform: rotate(90deg);
    cursor: pointer;
  }
}


.windows_call_main_left_side {
  width: 250px;
  //border: 1px solid #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  &__header_text {
    position: relative;
    //bottom: 27px;
    font-family: CenturyGothic, sans-serif;
    color: #ffffff;
    font-size: 1.5rem;

    @include ipad_pro {
      font-size: 1.2rem;
    }
    @include phones{
      font-size: 1rem;
    }
  }
  &__adress_text {
    position: relative;
    //bottom: 27px;
    font-family: CenturyGothic, sans-serif;
    color: #ffffff;
    font-size: 0.9rem;
    line-height: 1.3rem;
    @include ipad_pro {
      font-size: 0.8rem;
    }
    @include phones{
      font-size: 0.8rem;
    }
  }
  &__phone {
    @extend .windows_call_main_left_side__adress_text;
  }
  &__our_email{
    display: block;
    font-size: 0.8rem;
    font-family: "Century Gothic", sans-serif;
    color: #fff;

    @include ipad_pro {
      font-size: 0.7rem;
    }
    @include phones{
      font-size: 1rem;
    }
  }

  @include ipad_pro {

  }
  @include phones{
      display: none;
  }
}
.windows_call_main_left_side__header_text{
  @include ipad_pro {
  }
  @include phones{
    right: 20px;
  }
}
.our_email--bold{
  font-weight: bold;
  font-size: 1rem;
  @include ipad_pro {
    font-size: 0.9rem;
  }
  @include phones{
    font-size: 0.7rem;
  }
}
.windows_call_main_right_side {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  //border: 1px solid #fff;

  &__header_text {
    font-family: CenturyGothic, sans-serif;
    color: #ffffff;
    align-self: center;

    @include ipad_pro {
      font-size: 1.2rem;
      align-self: self-start;
    }
    @include tablets{
      font-size: 0.9rem;
      align-self: self-start;
    }
  }

  @include ipad_pro {

  }
  @include phones{
    width: 90%;
  }
}

.windows_call_main_right_side_form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.windows_call_main_right_side_form_elem {

  &__your_name[type='text'] {
    width: 85%;
    outline: none;
    background-color: transparent;
    height: 30px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    transition: all 100ms ease-in-out;
    color: #ffffff;
    font-family: "Century Gothic", sans-serif;
    font-size: 1rem;
    padding-left: 5px;
    @include placeholder {
      font-size: 0.9rem;
      color: #f0f0f0;
      font-family: "Century Gothic", sans-serif;
    }

    //&::-webkit-input-placeholder {
    //  transform: translateX(76%);
    //  transition: all 100ms ease-in-out;
    //
    //}
    //&:focus::-webkit-input-placeholder {
    //  transform: translateX(0);
    //  transition: all 100ms ease-in-out;
    //}
    //@include ipad_pro {
    //  &::-webkit-input-placeholder {
    //    transform: translateX(66%);
    //    transition: all 100ms ease-in-out;
    //
    //  }
    //}
    //@include phones{
    //width: 100%;
    //  &::-webkit-input-placeholder {
    //    transform: translateX(70%);
    //    transition: all 100ms ease-in-out;
    //  }
    //}
  }
  &__your_phone[type='tel'] {
    width: 85%;
    outline: none;
    background-color: transparent;
    height: 30px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #ffffff;
    font-family: "Century Gothic", sans-serif;
    font-size: 1rem;
    padding-left: 5px;
    @include placeholder {
      font-size: 0.9rem;
      color: #f0f0f0;
      font-family: "Century Gothic", sans-serif;
    }
    //&::-webkit-input-placeholder {
    //  transform: translateX(68%);
    //  transition: all 100ms ease-in-out;
    //
    //}
    //&:focus::-webkit-input-placeholder {
    //  transform: translateX(0);
    //  transition: all 100ms ease-in-out;
    //}
    //@include ipad_pro {
    //  &::-webkit-input-placeholder {
    //    transform: translateX(55%);
    //    transition: all 100ms ease-in-out;
    //
    //  }
    //}
    //@include phones{
    //  width: 100%;
    //  &::-webkit-input-placeholder {
    //    transform: translateX(60%);
    //    transition: all 100ms ease-in-out;
    //
    //  }
    //}
  }
  &__your_email[type='email'] {
    width: 85%;
    outline: none;
    background-color: transparent;
    height: 30px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #ffffff;
    font-family: "Century Gothic", sans-serif;
    font-size: 1rem;
    padding-left: 5px;
    @include placeholder {
      font-size: 0.9rem;
      color: #f0f0f0;
      font-family: "Century Gothic", sans-serif;
    }
    //&::-webkit-input-placeholder {
    //  transform: translateX(76%);
    //  transition: all 100ms ease-in-out;
    //
    //}
    //&:focus::-webkit-input-placeholder {
    //  transform: translateX(0);
    //  transition: all 100ms ease-in-out;
    //}
    //@include ipad_pro {
    //  &::-webkit-input-placeholder {
    //    transform: translateX(66%);
    //    transition: all 100ms ease-in-out;
    //
    //  }
    //}
    //@include phones {
    //  width: 100%;
    //  &::-webkit-input-placeholder {
    //    transform: translateX(70%);
    //    transition: all 100ms ease-in-out;
    //
    //  }
    //}
  }
  &__your_text[type='text'] {
    width: 85%;
    outline: none;
    background-color: transparent;
    height: 30px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #ffffff;
    font-family: "Century Gothic", sans-serif;
    font-size: 1rem;
    padding-left: 5px;
    @include placeholder {
      font-size: 0.9rem;
      color: #f0f0f0;
      font-family: "Century Gothic", sans-serif;
    }
    //&::-webkit-input-placeholder {
    //  transform: translateX(76%);
    //  transition: all 100ms ease-in-out;
    //
    //}
    //&:focus::-webkit-input-placeholder {
    //  transform: translateX(0);
    //  transition: all 100ms ease-in-out;
    //}
    //@include ipad_pro {
    //  &::-webkit-input-placeholder {
    //    transform: translateX(67%);
    //    transition: all 100ms ease-in-out;
    //
    //  }
    //}
    //@include phones{
    //  width: 100%;
    //  &::-webkit-input-placeholder {
    //    transform: translateX(70%);
    //    transition: all 100ms ease-in-out;
    //
    //  }
    //}
  }
}

.windows_call_main_right_side_submit_block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__our_email {
    display: block;
    font-size: 0.8rem;
    font-family: "Century Gothic", sans-serif;
    color: #fff;
  }
  &__submit {
    width:  85%;
    position: relative;
    //right: 15%;
    border: none;
    background-color: #ffffff;
    color: #d7872c;
    padding: 10px 20px;
    outline: #ffffff;
    box-shadow: 1px 1px 1px 0 rgba(110, 110, 110, 0.71);
    transition: all 100ms ease-in-out;
    &:hover {
      background-color: #d7872c;
      color: #fff;
      cursor: pointer;
    }

    @include phones{
      width: 100%;
    }
  }
  @include ipad_pro {
    width: 85%;
  }
  @include phones{
    width: 100%;
  }

}