section.advertising_sec
	.advertising_sec_row_five
		.advertising_sec_row_five_border
		h2.advertising_sec_row_five__header_text
			| РЕКЛАМА
	.advertising_sec_row_six
		.advertising_sec_row_six_border
		.outdoor_advertising
			p.outdoor_advertising__header_text Наружная
			img(src='../img/Icons/Services/Boards.png').outdoor_advertising__outdoor_advertising_img
		.promo
			p.promo__header_text Промо-акции
			img(src='../img/Icons/Services/Promo.png').promo__promo_img
		.video_advertising
			p.video_advertising__header_text Видео и аудио реклама
			img(src='../img/Icons/Services/Audio-Video.png').video_advertising__video_advertising_img
		.events
			p.events__header_text Выставки, Events
			img(src='../img/Icons/Services/Expo.png').events__events_img
	//.advertising_sec_row_seven

