section.gallery
	.gallery_blocks
		.gallery_blocks_row1
			h2.gallery_blocks__header_text
				|  ГАЛЕРЕЯ
				span.gallery_blocks__header_color
					|	 НАШИХ
				|  РАБОТ
		.gallery_blocks_row2
			.gallery_blocks_row2_inner_row
				.gallery_block_lion
					img(src="http://placehold.it/599x300").gallery_block__lion_img
				.gallery_block_journal
					img(src="http://placehold.it/599x300").gallery_block__journal_img
			.gallery_blocks_row2_inner_row2
				.gallery_block_box
					img(src="http://placehold.it/299x250").gallery_block__box_img
					img(src="http://placehold.it/299x250").gallery_block__box_img2
				.gallery_block_shirt
					img(src="http://placehold.it/299x250").gallery_block__shirt_img
					img(src="http://placehold.it/299x250").gallery_block__pack_img
		.gallery_blocks_row3
			h2.gallery_blocks__footer_text
				span.gallery_blocks__footer_text--color НАШИ
				|	УСЛУГИ

