section.gallery
	.gallery_blocks
		.gallery_blocks_row1
			h2(id='works').gallery_blocks__header_text
				|  ГАЛЕРЕЯ
				span.gallery_blocks__header_color
					|	 НАШИХ
				|  РАБОТ
		.gallery_blocks_row2
			.gallery_block_lion
				img(src="../img/Assets/lion.jpg").gallery_block_lion__lion_img
				a(href="#").gallery_block_lion__link СМОТРЕТЬ РАБОТЫ

		.gallery_blocks_row3
			h2.gallery_blocks__footer_text
				span(id='services').gallery_blocks__footer_text--color НАШИ
				|	УСЛУГИ


		.scoreDIv
