section.header
	.header_hamburger
		.menu
			span.bar
			span.bar
		ul.header_hamburger_items
			li.header_hamburger_item
				.header_hamburger_item__phone +38 050 971 99 53
			li.header_hamburger_item
				a(href='#').header_hamburger_item__link ГЛАВНАЯ
			li.header_hamburger_item
				a(href='#').header_hamburger_item__link УСЛУГИ
			li.header_hamburger_item
				a(href='#').header_hamburger_item__link РАБОТЫ
			li.header_hamburger_item
				a(href='#').header_hamburger_item__link О НАС
	header.header_block
		.header_block__logo
		h1.header_block__offer_text ПОЛИГРАФИЯ
			br
			| РЕКЛАМА
			br
			| БРЕНДИНГ
		.header_block__under_text
		p.header_block__text
			| ЛЮБОЙ СЛОЖНОСТИ