section.header
	header.header_block
		.header_block__logo
		h1.header_block__offer_text ПОЛИГРАФИЯ
			br
			| РЕКЛАМА
			br
			| БРЕНДИНГ
		.header_block__under_text
		p.header_block__text
			| ЛЮБОЙ СЛОЖНОСТИ