section.header
	.header_hamburger
		.menu
			span.bar
			span.bar
		ul.header_hamburger_items
			li.header_hamburger_item
				.header_hamburger_item__phone +38 050 971 99 53
			li.header_hamburger_item
				a(href='#main').header_hamburger_item__link_main ГЛАВНАЯ
			li.header_hamburger_item
				a(href='#services').header_hamburger_item__link_servives УСЛУГИ
			li.header_hamburger_item
				a(href='#works').header_hamburger_item__link_works РАБОТЫ
			li.header_hamburger_item
				a(href='#aboutUs').header_hamburger_item__link_about_us О НАС
	header.header_block
		.header_block__logo
		h1.header_block__offer_text ПОЛИГРАФИЯ
			br
			| РЕКЛАМА
			br
			| БРЕНДИНГ
		.header_block__under_text
		p.header_block__text
			| ЛЮБОЙ СЛОЖНОСТИ
