section.inet_services
	.inet_services_row_twelve
		h2.printing_row_twelve__header_text
			| ИНТЕРНЕТ УСЛУГИ
	.inet_services_row_thirteen
		.inet_services_row_thirteen_border
		a(href='#').site_app_dev_link_block
			.site_app_dev
				p.site_app_dev__header_text Разработка сайтов, приложений
				img(src='../img/Icons/Services/Web.png').site_app_dev__img
		a(href='#').make_content_link_block
			.make_content
				p.make_content__header_text Создание контента
				img(src='../img/Icons/Services/Groups.png').make_content__img
		a(href='#').call_centr_link_block
			.call_centr
				p.call_centr__header_text Организация call-center
				img(src='../img/Icons/Services/Call-center.png').call_centr__img