section.map
	.map_row
		.map_block_desc
			.map_block_desc_adress
				img(src='../img/Icons/placeholder.svg').map_block_desc_adress__adress_icon
				.map_block_desc_adress_col2
					h3.map_block_desc_adress__adress_text АДРЕС
					p.map_block_desc_adress__adress_desc пр-т Мира 17,
						br
						|	8 этаж офис 86
			.map_block_call_adress
				img(src='../img/Icons/phone.svg').map_block_call_adress__adress_icon
				.map_block_call_adress_col2
					h3.map_block_call_adress__adress_text ЗВОНИТЕ НАМ
					p.map_block_call_adress__adress_desc
						| +38 (071) 348 00 95
						br
						| +38 (071) 348 00 96
						br
						| +38 (050) 177 80 65
						br
						| +38 (062) 343 33 77
			.map_block_email
				img(src='../img/Icons/message.svg').map_block_email__adress_icon
				.map_block_email_col2
					h3.map_block_email__adress_text EMAIL
					p.map_block_email__adress_desc reklama@2lion.ru
		.map_block_map
			.map_block_map__yandex_map(id="myMap")