section.nav_block
	.nav_block_menu
		ul.nav_block_items
			li.nav_block_item
				a(href='#main').nav_block_item__link_main.link--active ГЛАВНАЯ
			li.nav_block_item
				a(href='#services').nav_block_item__link_servives.link--active УСЛУГИ
			li.nav_block_item
				a(href='#works').nav_block_item__link_works.link--active РАБОТЫ
			li.nav_block_item
				a(href='#aboutUs').nav_block_item__link_about_us.link--active О НАС
	.nav_block_contacts
		.nav_block_contacts__phone +38 050 971 99 53
		button.nav_block_contacts__btn СВЯЗАТЬСЯ С НАМИ