section.recommendations
	.recommendations_row_one
		h2.recommendations_row_one__header_text НАС РЕКОМЕНДУЮТ
	.recommendations_row_two
		.recommendations_row_two_border
		.recommendations_elems
			img(src='../img/Assets/partners/1.png').recommendations_elems__elem_1
		.recommendations_elems
			img(src='../img/Assets/partners/2.png').recommendations_elems__elem_2
		.recommendations_elems
			img(src='../img/Assets/partners/3.png').recommendations_elems__elem_3
		.recommendations_elems
			img(src='../img/Assets/partners/4.png').recommendations_elems__elem_4
		.recommendations_elems
			img(src='../img/Assets/partners/5.png').recommendations_elems__elem_5
		.recommendations_elems
			img(src='../img/Assets/partners/6.png').recommendations_elems__elem_6
		.recommendations_elems
			img(src='../img/Assets/partners/7.png').recommendations_elems__elem_7
		.recommendations_elems
			img(src='../img/Assets/partners/8.png').recommendations_elems__elem_8
		.recommendations_elems
			img(src='../img/Assets/partners/9.png').recommendations_elems__elem_9
		.recommendations_elems
			img(src='../img/Assets/partners/10.png').recommendations_elems__elem_10
