.wrapper_body
	section.two_lions
		.twol_block
			.twol_block_row
				h2.twol_block__header_text
					span.twol_block__header_text--color О НАС
					|  ДВА ЛЬВА
			.twol_block_row_2
				.big_logo
					img.big_logo__img
				.twol_block_row_3
					.advertising
						h3.advertising_header_text
							|	Полный
							span.advertising_header_text--color
								|	рекламный
							|	аутсорсинг:
						ul.advertising_items
							li.advertising_item Полиграфическая рекламная продукция
							li.advertising_item Наружная реклама
							li.advertising_item Реклама в печатных изданиях
							li.advertising_item Реклама на радио и телевидении
					.describe_block
						ul.desc_items
							li.desc_item Работаем на Вашу узнаваемость
							li.desc_item Любим сверхзадачи
							li.desc_item Настроены на долгосрочное сотрудничество
							li.desc_item Знаем, что Вы цените своих клиентов, поэтому гарантируем качество оказываевых услуг
			.twol_block_row_4
				.creativity_block
					h3.creativity_block__header_text
						| КРЕАТИВНОСТЬ
					p.creativity_block__text_first
						| Мы в курсе передовых тенденций в мире рекламы и маркетинга.
					p.creativity_block__text_second
						| Постоянно ведём поиск новых решений и открытий
				.operatively_block
						h3.operatively_block__header_text
							| ОПЕРАТИВНОСТЬ
						p.operatively_block__text_first
							| Мы оперативно решаем поставленные задачи
						p.operatively_block__text_second
							| С нами Вы опередите конкурентов, реализуете вновь открывшиеся возможности и тенденции.
				.quality_block
					h3.quality_block__header_text
						| КАЧЕСТВО
					p.quality_block__text_first
						| Хороший товар не нуждается в рекламе - говорят теоретики.
					p.quality_block__text_second
						| Практики говорят: хороший товар нуждается в хорошей рекламе.
					p.quality_block__text_third
						| Мы делаем качественную рекламу для Вас.