.wrapper
	block content
		include ../parts/two_lions_block
		include ../parts/gallery_block
		include ../parts/printing_block
		include ../parts/advertising_block
		include ../parts/branding_block
		include ../parts/inet_services
		include ../parts/map_block