extends main-layout

block title
	| 2lions

block content
	include ../pug/pages/nav_block
	include ../pug/pages/header_block
	include ../pug/pages/two_lions_block
	include ../pug/pages/advertising_block
	include ../pug/pages/branding_block
	include ../pug/pages/galery_block
	include ../pug/pages/recommend_block