extends main-layout

block title
	| 2LIONS

block content

	include ../pug/pages/nav_block
	include ../pug/pages/header_block
	include ../pug/pages/two_lions_block
	include ../pug/pages/gallery_block
	include ../pug/pages/printing_block
	include ../pug/pages/advertising_block
	include ../pug/pages/branding_block
	include ../pug/pages/inet_services
	//include ../pug/pages/map_block


